
/* gloval css */
*{
    background: #112a2c;
    color: aliceblue;
}


/* header text */
.header-text{
    color: blueviolet;
}


/* style link sectin */
.link-div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.link-div p {
    color: red;
    font-weight: 800;
    font-size: 20px;
    margin-top: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.link-div a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: cadetblue;
}


